[Desktop Entry]
Name=QIDI GCode viewer
Exec=qidi-studio --gcodeviewer %F
Icon=QIDIStudio-gcodeviewer
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
